@model  ProjetoBRQ.Models.Cliente
@{
    ViewBag.Title = "Details";
}

<br />
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Informações de @Model.Nome</h3>
        </div>

        <a class="btn btn-default" href="@Url.Action("Index","Clientes")">
            <i class="fa fa-list" aria-hidden="true"></i>
            Listar Clientes
        </a>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <table class="table table-bordered table-condensed table-hover ">
                        <tr>
                            <td>
                                <b>@Html.LabelFor(m => m.Id)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Id)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.LabelFor(m => m.Nome)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Nome)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.LabelFor(m => m.Cpf)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Cpf)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.LabelFor(m => m.Email)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Email)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.LabelFor(m => m.Telefone)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Telefone)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.LabelFor(m => m.Endereco)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Endereco)
                            </td>
                        </tr>
                        @if (Model.Complemento != null)
                        {
                            <tr>
                                <td>
                                    <b>@Html.LabelFor(m => m.Complemento)</b>
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.Complemento)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <b>@Html.LabelFor(m => m.DataCadastro)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.DataCadastro)
                            </td>
                        </tr>
                        @if (Model.DataAlteracao != null)
                        {
                            <tr>
                                <td>
                                    <b>@Html.LabelFor(m => m.DataAlteracao)</b>
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.DataAlteracao)
                                </td>
                            </tr>
                        }                        
                    </table>
                </div>
            </div>
        </div>
        <a href="@Url.Action("Edit","Clientes", new { Id = Model.Id })">
            <i class="fa fa-edit" aria-hidden="true"></i>
            Editar
        </a>
    </div>
</div>
<br />