@model ProjetoBRQ.Models.Cliente
@{
    ViewBag.Title = "Index";
}
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Excluir</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza de que deseja deletar este cliente?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div id="content" class="col-md-12">
        <h2>Clientes</h2>

        @Html.Partial("_MsgDelete")

        <a href="@Url.Action("Create","Clientes")">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Cadastrar Clientes
        </a>
        <table id="table" class="table table-bordered table-hover table-striped">
            <tr>
                <td width="17%">@Html.TextBoxFor(m => m.Id, new { @class = "form-control", @placeholder = "Pesquisar por ID" })</td>
                <td>@Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpfsearch", @placeholder = "Pesquisar por CPF" })</td>
                <td>@Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @placeholder = "Pesquisar por nome" })</td>
                <td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Pesquisar por email" })</td>
            </tr>
            <tr id="head">
                <td>@Html.LabelFor(m => m.Id)</td>
                <td>@Html.LabelFor(m => m.Cpf)</td>
                <td>@Html.LabelFor(m => m.Nome)</td>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>Ações</td>
            </tr>
        </table>
        <p class="text-center"><i id="load" class="fa fa-spinner fa-spin" style="font-size: 54px"></i></p>

        <ul id="page" class="pagination"></ul>
    </div>
</div>
<br />
<script>
    //Inicio - Scripts para pesquisa
    $('#Id').keypress(function (e) {
        enterPress(e);
    });

    $('#Cpf').keypress(function (e) {
        enterPress(e);
    });

    $('#Nome').keypress(function (e) {
        enterPress(e);
    });

    $('#Email').keypress(function (e) {
        enterPress(e);
    });

    function enterPress(e) {
        if (e.which == 13) {
            initTable();
            $(this).blur();
        }
    }
    //Fim - Scripts para pesquisa

    initTable()

    function removeElements() {
        $(".dynamic").remove();
        $(".page-item").remove();
    }

    function initTable() {
        removeElements();

        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "Clientes")?Page=null&Id=${$('#Id').val()}&Cpf=${$("#Cpf").val()}&Nome=${$("#Nome").val()}&Email=${$("#Email").val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data);
                $('#load').css('display', 'none');
            }
        });
    }

    $(document).on('click', '.delete', function () {
        $(".delete-yes-modal").remove();
        $('.modal-footer').append(`<a class='btn btn-default delete-yes-modal' href="@Url.Action("Delete","Clientes")/${$(this).attr('id').split('-')[1]}">Sim</a>`)
    });

    $(document).on('click', '.page-link', function () {
        removeElements();

        var id = $(this).attr('id').split('-')[1];

        $('#load').css('display', 'inline-block');
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "Clientes")?Page=${id}&Id=${$('#Id').val()}&Cpf=${$("#Cpf").val()}&Nome=${$("#Nome").val()}&Email=${$("#Email").val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data,id);
                $('#load').css('display', 'none');
            }
        });
    });

    function createPaged(data, id = 1) {
        var html = '';

        for (var i = 1; i <= data.countPages+1; i++) {
            if (i == id) {
                html += `<li class="page-item active"><a class="page-link" href="#" id="paged-${i}">${i}</a></li>`;
                //html += `<a class='paged' href='#' style='background-color:blue' id="paged-${i}"></a>`;
            } else {
                html += `<li class="page-item"><a class="page-link" href="#" id="paged-${i}">${i}</a></li>`;
                //html += `<a class='paged' href='#' id="paged-${i}">${i}</a>`;
            }
        }
        $('#page').append(html);
    }

        function createTable(data) {
            var table = '';

            for (var i = 0; i < data.list.length; i++) {
                table += '<tr class="dynamic">';
                table += `<td> ${data.list[i].Id}</td>`;
                table += `<td> ${data.list[i].Cpf}</td>`;
                table += `<td> ${data.list[i].Nome}</td>`;
                table += `<td> ${data.list[i].Email}</td>`;
                table += '<td>';
                table += `<a href="@Url.Action("Details","Clientes")/${data.list[i].Id}"><i class="fa fa-info" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
                table += `<a href="@Url.Action("Edit", "Clientes")/${data.list[i].Id}"><i class="fa fa-pencil" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
                table += `<a href='#' class='delete' id='delete-${data.list[i].Id}' data-toggle='modal' data-target='#myModal'><i class="fa fa-trash-o" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`
                table += '</td>';
                table += '</tr>';
            }
            $('#table').append(table);
        }
</script>