@using ProjetoBRQ.Models
@model LoginViewModel
@{
    ViewBag.Title = "Efetuar login";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h5>Usar uma conta local para efetuar login.</h5>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-field">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "validate", @type = "email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="checkbox-inline">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <div class="input-field">
                        <button type="submit" class="btn waves-effect waves-light">
                            Efetuar login
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <p>
                        @Html.ActionLink("Registrar-se como novo usuário", "Register")
                    </p>
                    @* Ativar isso assim que você tiver a confirmação de conta ativada para a funcionalidade de redefinição de senha
                        <p>
                            @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")
                        </p>*@
        }
    </section>
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}