@model ProjetoBRQ.Models.RegisterViewModel
@{
    ViewBag.Title = "Registre-se";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h5>Crie uma nova conta.</h5>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="input-field">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "validate" })
        </div>
        <div class="input-field">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "validate" })
        </div>
        <div class="input-field">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate" })
        </div>
        <div class="input-field">           
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Registrar-se
                    <i class="material-icons right">send</i>
                </button>
                @*<input type="submit" class="btn btn-default" value="Registrar-se" />*@         
        </div>
    }
</div>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
