<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="indigo lighten-5">
    <nav class="indigo accent-3" role="navigation">
        <div class="nav-wrapper container">
            <div>
                @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })
            </div>
            <ul class="left hide-on-med-and-down">
                <li>@Html.ActionLink("Início", "Index", "Home")</li>
                <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Entrar</a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>


    @RenderBody()
    @*<div class="container body-content">
            @RenderBody()
            <hr />
        </div>*@

    <footer class="page-footer indigo accent-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="cinza-maroto">Trabalho AM 2º Semestre - BRQ Challenge</h5>
                    <p class="cinza-maroto">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="cinza-maroto">Grupo</h5>
                    <ul>
                        <li><a class="cinza-maroto" href="#!">Giovanni Gualiato</a></li>
                        <li><a class="cinza-maroto" href="#!">Caio Willian</a></li>
                        <li><a class="cinza-maroto" href="#!">Lucas Farias</a></li>
                        <li><a class="cinza-maroto" href="#!">Rafael Finoti</a></li>
                        <li><a class="cinza-maroto" href="#!">Marco Antonio</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/materialize.js"></script>
    <script src="~/Content/materialize/js/init.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>