@model  ProjetoBRQ.Models.News
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/TablesStyle.css" type="text/css" rel="stylesheet" />

<div class="container">
    <h2>Notícias</h2>
    <div id="content" class="col-md-12">
        <table id="table" class="bordered">
            <tr>
                <td>
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>                    
                        @Html.TextBoxFor(m => m.Id, new { @placeholder = "Pesquisar por ID" })
                    </div>
                </td>
                <td>
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        @Html.TextBoxFor(m => m.Title, new { @placeholder = "Pesquisar por Titulo" })
                    </div>
               </td>
            </tr>
            <tr id="head">
                <td>@Html.LabelFor(m => m.Id)</td>
                <td>@Html.LabelFor(m => m.Title)</td>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td>Ações</td>
            </tr>
        </table>

        <div class="preloader-wrapper big active centered" id="load">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="page">
        <ul class="pagination" id="ulPage"></ul>
    </div>
</div>

<script>

    $('#Id').keypress(function (e) {
        enterPress(e);
    });

    $('#Title').keypress(function (e) {
        enterPress(e);
    });

    function enterPress(e) {
        if (e.which == 13) {
            initTable();
            $(this).blur();
        }
    }

    initTable()

    function initTable() {
        $(".dynamic").remove();
        $(".eoq").remove();
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "News")?Page=null&Id=${$('#Id').val()}&Title=${$("#Title").val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data);
                $('#load').css('display', 'none');
            }
        });
    }
    
    $(document).on('click', '.eoq', function () {

        var id = $(this).attr('id').split('-')[1];

        $('li').removeClass('active');
        $(".dynamic").remove();
        $('#load').css('display', 'inline-block');
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "News")?Page=${id}&Id=${$('#Id').val()}&Title=${$("#Title").val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                $('#load').css('display', 'none');
            }
        });
        $('#paged-' + id).parent().addClass('active');
    });

    function createPaged(data) {
        var html = '';

        for (var i = 1; i <= data.countPages; i++) {
            //html += `<a class='paged' href='#' id="paged-${i}">${i}</a>`;
            if (i == 1) {
                html += `<li class="waves-effect active"><a class='eoq' href='#' id="paged-${i}">${i}</a></li>`;
            } else {
                html += `<li class="waves-effect"><a class='eoq' href='#' id="paged-${i}">${i}</a></li>`;
            }
        }
        $('#ulPage').append(html);        
    }
    
    function createTable(data) {
        var table = '';

        for (var i = 0; i < data.list.length; i++) {
            table += '<tr class="dynamic">';
            table += `<td> ${data.list[i].Id}</td>`;
            table += `<td> ${data.list[i].Title}</td>`;
            table += `<td> ${data.list[i].Description}</td>`;
            table += '<td>'
            table += `<a href="@Url.Action("Details","News")/${data.list[i].Id}"><i class="material-icons" aria-hidden="true" style='color:black'>info</i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Edit","News")/${data.list[i].Id}"><i class="material-icons" aria-hidden="true" style='color:black'>create</i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Delete","News")/${data.list[i].Id}"><i class="material-icons" aria-hidden="true" style='color:black'>delete</i></a>&nbsp&nbsp`
            table += `<a href="@Url.Action("Preview","News")/${data.list[i].Id}"><i class="material-icons" aria-hidden="true" style='color:black'>web</i></a>`
            table += '</td>';
            table += '</tr>'
        }

        $('#table').append(table);
    }
    
</script>



