@model  ProjetoBRQ.Models.News
@{
    ViewBag.Title = "Index";
}

<style>
    .paged{
        border: 1px solid black;
        padding: 3px;
    }

</style>

<div id="content" class="col-md-12">
    <table id="table" class="table table-bordered table-hover table-striped">
        <tr>
            <td>@Html.TextBoxFor(m => m.Id, new { @class = "form-control" })</td>
            <td>@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })</td>
        </tr>
        <tr id="head">
            <td>@Html.LabelFor(m => m.Id)</td>
            <td>@Html.LabelFor(m => m.Title)</td>
            <td>@Html.LabelFor(m => m.Description)</td>
            <td>Ações</td>
        </tr>
    </table>
    <i id="load" class="fa fa-spinner fa-spin text-center" style="font-size:54px"></i>
</div>
<div id="page"></div>
<script>

    $('#Id').keypress(function (e) {
        enterPress(e);
    });

    $('#Title').keypress(function (e) {
        enterPress(e);
    });

    function enterPress(e) {
        if (e.which == 13) {
            initTable();
            $(this).blur();
        }
    }

    initTable()

    function initTable() {
        $(".dynamic").remove();
        $(".paged").remove();
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "News")?Page=null&Id=${$('#Id').val()}&Title=${$("#Title").val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data);
                $('#load').css('display', 'none');
            }
        });
    }

    $(document).on('click', '.paged', function () {

        var id = $(this).attr('id').split('-')[1];
        $(".dynamic").remove();
        $('#load').css('display', 'inline-block');
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "News")?Page=${id}&Id=${$('#Id').val()}&Title=${$("#Title").val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                $('#load').css('display', 'none');
            }
        });
    });

    function createPaged(data) {
        var html = '';

        for (var i = 1; i <= data.countPages; i++) {
            html += `<a class='paged' href='#' id="paged-${i}">${i}</a>`;
        }
        $('#page').append(html);
    }


    function createTable(data) {
        var table = '';

        for (var i = 0; i < data.list.length; i++) {
            table += '<tr class="dynamic">';
            table += `<td> ${data.list[i].Id}</td>`;
            table += `<td> ${data.list[i].Title}</td>`;
            table += `<td> ${data.list[i].Description}</td>`;
            table += '<td>'
            table += `<a href="@Url.Action("Details","News")/${data.list[i].Id}"><i class="fa fa-info" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Edit","News")/${data.list[i].Id}"><i class="fa fa-pencil" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Delete","News")/${data.list[i].Id}"><i class="fa fa-trash-o" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`
            table += `<a href="@Url.Action("Preview","News")/${data.list[i].Id}"><i class="fa fa-newspaper-o" aria-hidden="true" style='color:black'></i></a>`
            table += '</td>';
            table += '</tr>'
        }

        $('#table').append(table);
    }

</script>

<h2>Index</h2>

