@model ProjetoBRQ.Models.Investiment
@{
    ViewBag.Title = "Details";
}
<br />
<div class="container">
    <h2>Informações</h2>
    <a class="btn btn-default" href="@Url.Action("Index","Investiment")">
        <i class="fa fa-list" aria-hidden="true"></i>
        Listar Investimento
    </a>
    <div class="panel panel-default">    
        <div class="panel-body">
            <div class="col-md-5">
                <table class="table table-hover table-bordered table-condensed">
                    <tr>
                        <td>@Html.LabelFor(m => m.Name)</td>
                        <td>@Html.DisplayFor(m => m.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Stock)</td>
                        <td>@Html.DisplayFor(m => m.Stock)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.DisplayValue)</td>
                        <td>@Html.DisplayFor(m => m.DisplayValue)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.InputDate)</td>
                        <td>@Html.DisplayFor(m => m.InputDate)</td>
                    </tr>
                    @if (Model.UpdateDate != null)
                    {
                        <tr>
                            <td>@Html.LabelFor(m => m.UpdateDate)</td>
                            <td>@Html.DisplayFor(m => m.UpdateDate)</td>
                        </tr>
                    }
                    <tr>
                        <td>@Html.LabelFor(m => m.Description)</td>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>
                </table>
            </div>
        </div>

        <a href="@Url.Action("Edit","Investiment", new { Id = Model.Id })">
            <i class="fa fa-edit" aria-hidden="true"></i>
            Editar
        </a>
    </div>
</div>
<br />
