@model ProjetoBRQ.Models.Investiment
@{
    ViewBag.Title = "Index";
}

<style>
    .paged {
        border: 1px solid black;
        padding: 3px;
    }
</style>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Você deseja deletar a noticia?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="content" class="col-md-12">

    @Html.ActionLink("Cadastrar Investimento", "Create", "Investiment", new { @class = "btn btn-default" })

    <table id="table" class="table table-bordered table-hover table-striped">
        <tr>
            <td>@Html.TextBoxFor(m => m.Id, new { @class = "form-control" })</td>
            <td>@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })</td>
            <td>@Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })</td>
            <td>@Html.TextBoxFor(m => m.Value, new { @class= "form-control" })</td>
        </tr>
        <tr id="head">
            <td>@Html.LabelFor(m => m.Id)</td>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.LabelFor(m => m.Stock)</td>
            <td>@Html.LabelFor(m => m.Value)</td>
            <td>Ações</td>
        </tr>
    </table>
    <p class="text-center"><i id="load" class="fa fa-spinner fa-spin" style="font-size:54px"></i></p>
</div>
<div id="page"></div>

<script>
    $('#Id').keypress(function (e) {
        enterPress(e);
    });

    $('#Name').keypress(function (e) {
        enterPress(e);
    });

    $('#Stock').keypress(function (e) {
        enterPress(e);
    });

    $('#Value').keypress(function (e) {
        enterPress(e);
    });

    initTable();
    function initTable() {
        removeElements();

        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "Investiment")?Page=null&Id=${$('#Id').val()}&Name=${$("#Name").val()}&Stock=${$('#Stock').val()}&Value=${$('#Value').val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data);
                $('#load').css('display', 'none');
            }
        });
    }

    $(document).on('click', '.delete', function () {
        $('.modal-body').append(`<a class='btn btn-default' href="@Url.Action("Delete","Investiment")/${$(this).attr('id').split('-')[1]}">isso ai</a>`)
    });

    $(document).on('click', '.paged', function () {
        removeElements();
        var id = $(this).attr('id').split('-')[1];
        $('#load').css('display', 'inline-block');
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "Investiment")?Page=${id}&Id=${$('#Id').val()}&Name=${$("#Name").val()}&Stock=${$('#Stock').val()}&Value=${$('#Value').val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data,id);
                $('#load').css('display', 'none');
            }
        });
    });

    function createPaged(data, id = 1) {
        var html = '';
        for (var i = 1; i <= data.countPages+1; i++) {
            if (i == id)
                html += `<a class='paged' href='#' style='background-color:blue' id="paged-${i}">${i}</a>`;
            else
                html += `<a class='paged' href='#' id="paged-${i}">${i}</a>`;
        }
        $('#page').append(html);
    }

   function createTable(data) {
        var table = '';

        for (var i = 0; i < data.list.length; i++) {
            table += '<tr class="dynamic">';
            table += `<td> ${data.list[i].Id}</td>`;
            table += `<td> ${data.list[i].Name}</td>`;
            table += `<td> ${data.list[i].Stock}</td>`;
            table += `<td> ${data.list[i].Value}</td>`;
            table += '<td>'
            table += `<a href="@Url.Action("Details", "Investiment")/${data.list[i].Id}"><i class="fa fa-info" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Edit", "Investiment")/${data.list[i].Id}"><i class="fa fa-pencil" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
            table += `<a href='#' class='delete' id='delete-${data.list[i].Id}' data-toggle='modal' data-target='#myModal'><i class="fa fa-trash-o" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`
            table += '</td>';
            table += '</tr>'

        }

        $('#table').append(table);
    }
    function enterPress(e) {
        if (e.which == 13) {
            initTable();
            $(this).blur();
        }
    }

    function removeElements() {
        $(".dynamic").remove();
        $(".paged").remove();
    }
</script>

