@model ProjetoBRQ.Models.Investiment
@{
    ViewBag.Title = "Index";
}

<br />
<div class="container">
    @if (TempData["MsgInvestimentoSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @TempData["MsgInvestimentoSucesso"]
        </div>
    }
    <div id="content" class="col-md-12">
        <h2>Investimentos</h2>

        @Html.Partial("_MsgDelete")

        <a href="@Url.Action("Create","Investiment")">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Cadastrar Investimento
        </a>

        <table id="table" class="table table-bordered table-hover table-striped">
            <tr>
                <td width="16%">@Html.TextBoxFor(m => m.Id, new { @class = "form-control", @placeholder = "Pesquisar por ID" })</td>
                <td width="20%">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Pesquisar por nome" })</tdwidth="20%">
                <td>@Html.TextBoxFor(m => m.Stock, new { @class = "form-control", @placeholder = "Pesquisar por estoque" })</td>
                <td>@Html.TextBoxFor(m => m.Value, new { @class = "form-control", @placeholder = "Pesquisar por valor" })</td>
            </tr>
            <tr id="head">
                <td>@Html.LabelFor(m => m.Id)</td>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td width="20%">@Html.LabelFor(m => m.Stock)</td>
                <td width="18%">@Html.LabelFor(m => m.Value)</td>
                <td>@Html.LabelFor(m => m.StockTotal)</td>
                <td>Ações</td>
            </tr>
        </table>
        <p class="text-center"><i id="load" class="fa fa-spinner fa-spin" style="font-size:54px"></i></p>
        <ul class="pagination" id="page"></ul>
    </div>
</div>
<br />

<script>
    //Inicio - Scripts para pesquisa
    $('#Id').keypress(function (e) {
        enterPress(e);
    });

    $('#Name').keypress(function (e) {
        enterPress(e);
    });

    $('#Stock').keypress(function (e) {
        enterPress(e);
    });

    $('#Value').keypress(function (e) {
        enterPress(e);
    });

    function enterPress(e) {
        if (e.which == 13) {
            initTable();
            $(this).blur();
        }
    }
    //Fim - Scripts para pesquisa

    initTable();

    function removeElements() {
        $(".dynamic").remove();
        $(".page-item").remove();
    }

    function initTable() {
        removeElements();

        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "Investiment")?Page=null&Id=${$('#Id').val()}&Name=${$("#Name").val()}&Stock=${$('#Stock').val()}&Value=${$('#Value').val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data);
                $('#load').css('display', 'none');
            }
        });
    }

    $(document).on('click', '.delete', function () {
        $(".delete-yes-modal").remove();
        $('.modal-footer').append(`<a class='btn btn-default delete-yes-modal' href="@Url.Action("Delete","Investiment")/${$(this).attr('id').split('-')[1]}">Sim</a>`)
    });

    $(document).on('click', '.page-link', function () {
        removeElements();

        var id = $(this).attr('id').split('-')[1];

        $('#load').css('display', 'inline-block');
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "Investiment")?Page=${id}&Id=${$('#Id').val()}&Name=${$("#Name").val()}&Stock=${$('#Stock').val()}&Value=${$('#Value').val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data,id);
                $('#load').css('display', 'none');
            }
        });
    });

    function createPaged(data, id = 1) {
        var html = '';

        for (var i = 1; i <= data.countPages; i++) {
            if (i == id) {
                html += `<li class="page-item active"><a class="page-link" href="#" id="paged-${i}">${i}</a></li>`;
            } else {
                html += `<li class="page-item"><a class="page-link" href="#" id="paged-${i}">${i}</a></li>`;
            }
        }
        $('#page').append(html);
    }

        function createTable(data) {
            var table = '';

            for (var i = 0; i < data.list.length; i++) {
                table += '<tr class="dynamic">';
                table += `<td> ${data.list[i].Id}</td>`;
                table += `<td> ${data.list[i].Name}</td>`;
                table += `<td> ${data.list[i].Stock}</td>`;
                table += `<td>${(data.list[i].Value).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}</td>`;
                table += `<td>${data.list[i].StockTotal}</td>`;
                table += '<td>';

                if (data.list[i].Stock > 0) {
                    table += `<a href="@Url.Action("Create", "InvestimentUser")/${data.list[i].Id}"><i class="fa fa-info" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
                } else {
                    table += `<p>Indisponivel</p>`;
                }
                table += '</td>';
                table += '</tr>';
            }
            $('#table').append(table);
        }
</script>