@model ProjetoBRQ.Models.Contatos
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Informações do contato</h2>
    <a href="@Url.Action("Index","Contatos")">Listar contatos</a>
    <br />
    <div class="row">
        <div class="col m5">
            <table class="bordered">
                <tr>
                    <td>@Html.LabelFor(m => m.Nome)</td>
                    <td>@Html.DisplayFor(m => m.Nome)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Email)</td>
                    <td>@Html.DisplayFor(m => m.Email)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Telefone)</td>
                    <td>@Html.DisplayFor(m => m.Telefone)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.DataCadastro)</td>
                    <td>@Html.DisplayFor(m => m.DataCadastro)</td>
                </tr>
                @if (Model.DataAlteracao != null)
                {
                    <tr>
                        <td>@Html.LabelFor(m => m.DataAlteracao)</td>
                        <td>@Html.DisplayFor(m => m.DataAlteracao)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

