@model ProjetoBRQ.Models.Contatos
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telefone)
        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
    </div>

    <input type="submit" class="btn btn-default" value="Cadastrar Contato" />
}
<h2>Edit</h2>