@model ProjetoBRQ.Models.Contatos

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/TablesStyle.css" type="text/css" rel="stylesheet" />

<div class="container">
    <h2>Contatos</h2>

    <div id="content" class="col m12">
        <table id="table" class="bordered">
            <tr>
                <td>
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        @Html.TextBoxFor(m => m.Id, new { @placeholder = "Pesquisar por ID" })
                    </div>
                </td>
                <td>
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        @Html.TextBoxFor(m => m.Nome, new { @placeholder = "Pesquisar por Nome" })
                    </div>
                </td>
                <td>
                    <div class="input-field">
                        <i class="material-icons prefix">search</i> 
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Pesquisar por E-mail" })
                    </div>
                </td>
            </tr>
            <tr id="head">
                <td>@Html.LabelFor(m => m.Id)</td>
                <td>@Html.LabelFor(m => m.Nome)</td>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>Ações</td>
            </tr>
        </table>

        <div class="preloader-wrapper big active centered" id="load">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="page">
        <ul class="pagination" id="ulPage"></ul>
    </div>
</div>
<br />

<script>

    initTable()
    $('#Id').keypress(function (e) {
        enterPress(e);
    });

    $('#Nome').keypress(function (e) {
        enterPress(e);
    });

    $('#Email').keypress(function (e) {
        enterPress(e);
    });

    $(document).on('click', '.eoq', function () {

        var id = $(this).attr('id').split('-')[1];

        $('li').removeClass('active');
        $(".dynamic").remove();
        $('#load').css('display', 'inline-block');
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "Clientes")?Page=null&Id=${$('#Id').val()}&Cpf=${$("#Cpf").val()}&Nome=${$("#Nome").val()}&Email=${$("#Email").val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                $('#load').css('display', 'none');
            }
        });
        $('#paged-' + id).parent().addClass('active');
    });

    function enterPress(e) {
        if (e.which == 13) {
            initTable();
            $(this).blur();
        }
    }

   function initTable() {
        $(".dynamic").remove();
        //$(".paged").remove();
        $(".eoq").remove();
        $.ajax({
            type: "GET",
            url: `@Url.Action("TableIndex", "Contatos")?Page=null&Id=${$('#Id').val()}&Nome=${$("#Nome").val()}&Email=${$("#Email").val()}`,
            dataType: "json",
            success: function (data) {
                createTable(data);
                createPaged(data);
                $('#load').css('display', 'none');
            }
        });
    }

    function createPaged(data) {
        var html = '';

        for (var i = 1; i <= data.countPages; i++) {
            //html += `<a class='paged' href='#' id="paged-${i}">${i}</a>`;
            if (i == 1) {
                html += `<li class="waves-effect active"><a class='eoq' href='#' id="paged-${i}">${i}</a></li>`;
            } else {
                html += `<li class="waves-effect"><a class='eoq' href='#' id="paged-${i}">${i}</a></li>`;
            }
        }

        $('#ulPage').append(html);
        //$('#page').append(html);
    }

    function createTable(data) {
        var table = '';
        for (var i = 0; i < data.list.length; i++) {
            table += '<tr class="dynamic">';
            table += `<td> ${data.list[i].Id}</td>`;
            table += `<td> ${data.list[i].Nome}</td>`;
            table += `<td> ${data.list[i].Email}</td>`;
            table += '<td>';
            table += `<a href="@Url.Action("Details", "Contatos")/${data.list[i].Id}"><i class="material-icons" aria-hidden="true" style='color:black'>info</i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Edit", "Contatos")/${data.list[i].Id}"><i class="material-icons" aria-hidden="true" style='color:black'>create</i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Delete", "Contatos")/${data.list[i].Id}"><i class="material-icons" aria-hidden="true" style='color:black'>delete</i></a>&nbsp&nbsp`

            @*table += `<a href="@Url.Action("Details","Contatos")/${data.list[i].Id}"><i class="fa fa-info" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Edit", "Contatos")/${data.list[i].Id}"><i class="fa fa-pencil" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;
            table += `<a href="@Url.Action("Delete", "Contatos")/${data.list[i].Id}"><i class="fa fa-trash-o" aria-hidden="true" style='color:black'></i></a>&nbsp&nbsp`;*@
            table += '</td>';
            table += '</tr>';
        }
        $('#table').append(table);
    }
</script>


